.custom-file {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 2.5rem;
    cursor: pointer;
}

.custom-file-input {
    min-width: 14rem;
    max-width: 100%;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

.custom-file-control {
    background-color: rgba(10, 50, 50, 0.5);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    user-select: none;
    border: 1px solid #ddd;
    border-radius: .25rem;
}

.custom-file {
    background-color: rgba(10, 50, 50, 0.5);
    color: white;
    z-index: 0 !important;
}

hr {
    height: 3px;
    background-color: #4ECDC4;
    border: none;
}

label {
    color: #fde300;
}

.submit {
    background: #4ECDC4;
    opacity: 0.8;
    border-radius: 7px;
    color: black;
}

.submit:hover {
    background: #fde300;
    opacity: 0.8;
    border-radius: 7px;
    color: blue;
}
