.head{
    margin-left: auto;
    margin-right: auto;
}

#sidebar{
    margin-left: 0px;
}

.class-contenteditable{
    /*Прокрутка*/
    overflow: auto;

    text-align: left;
    font-family: Courier New, Courier;
    font-size: 20px;

    height: 80vh;
    width: 100%;

    border: solid;
    border-width: 0px;
    text-align: left;
    background-color: white;
    -webkit-box-shadow: 6px 10px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 9px 0px rgba(0,0,0,0.75);
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;

    display:none;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 4px;
}
/* стиль заголовка h1*/
h1{
    font-size: 40px;
    font-family: Tahoma;
    font-weight: 900;
    padding-bottom: 10px;
    color: #fde300;
}
/* стиль заголовка h2*/
h2{
    font-size: 25px;
    font-family: Arial;
    font-weight: 900;
    color: black;
    font-weight: 400;
}
/* настраиваем внешний вид поля ввода*/
input{
    display: inline-block;
    margin: 20px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
}
/*как будет выглядеть каждый элемент нашего списка документов*/
.tdItem{
    text-align: left;
    /*padding: 10px;*/
    cursor: default;
    border-radius: 7px;
    font-size: 16px;
}
/*что произойдёт, когда мы наведём курсор на название документа в списке*/
.tdItem:hover{
    background-color: lightblue;
}

.tree_container {
    /*background: #677cfb;*/
    background-color: rgba(10,50,50,0.7);
    /*color: black;*/
    /*opacity: 0.8;*/
    border-radius: 7px;

}

.tree_container span:hover {
    font-weight: bold;
    font-weight: bolder;
}

.tree_container span {
    cursor: pointer;
    font-weight: bolder;
}

li .file {
    color: white !important;
    font-size: 15px;
    cursor: pointer;
    font-weight: bolder;
    /*z-index:99999999;*/
}

li .folder {
    /*color: black !important;*/
    /*color: #4ECDC4 !important;*/
    color: #00b7ff;
    font-size: 15px;
    font-weight: bolder;
    /*z-index:99999999;*/
}

.mainFolder{
    color: black !important;
    font-size: 15px;
    font-weight: bolder;
    /*z-index:99999999;*/
}

.saveFile{
    background: #4ECDC4;
    opacity: 0.8;
    border-radius: 7px;
    color: black;
    width: 100%;
}

.saveFile:hover{
    background: #fde300;
    opacity: 0.8;
    border-radius: 7px;
    color: blue;
}

.deleteFileYes{
    background: #00AA00;
    opacity: 0.9;
    border-radius: 7px;
    color: black;
    font-weight: bold;
}

.deleteFileNo{
    background: #880000;
    opacity: 0.9;
    border-radius: 7px;
    color: black;
    font-weight: bold;
}


/* context menu */

.context-menu {

    display: none;
    position: absolute;
    z-index: 0;
    padding: 12px 0;
    width: 240px;
    /*background-color: #fff;*/
    background: #677cfb;
    color: black;
    opacity: 0.9;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
    border-radius: 9px;
    font-weight: bold;
}

.context-menu--active {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}

.context-menu__link {
    display: block;
    padding: 4px 12px;
    color: black;
    text-decoration: none;
}

.context-menu__link:hover {
    color: #fff;
    background-color: #0066aa;
}
