/* Body */

body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}


/* Menu */

.menu {
    background: #555 url('images/menu-bg.jpg') repeat left top;
    left: -285px; /* прячем меню */
    height: 100%;
    position: fixed;
    width: 285px;
}


/* Basic CSS */

.background {
    background-image: url('images/chicago-night.jpg');
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu ul {
    border-top: 1px solid #555;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #555;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu li:hover {
    cursor: pointer;
    background-color: #555;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.icon-menu {
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-menu img {
    margin-right: 5px;
}