.toast {
  max-width: 360px;
  /*overflow: auto;*/
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 1);

  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem ;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  font-family: initial;
  position: relative;
  padding: 0.75rem 2rem 0.75rem 0.75rem;
  overflow-wrap: break-word;
  word-break: break-word;
  background: inherit ;
  /*margin: 0 auto;*/
  right: 0;
  opacity: 1;
  position: absolute;
  /*z-index:9999;*/
}

/*.x-toast {*/
  /*top: -150px;*/
/*}*/

.toast:not(:last-child) {
  margin-bottom: 0.75rem;
  /*z-index:99999999;*/
}

/*.toast:before {content: none !important;} !* новый стиль *!*/
/*.toast:after {content: none !important;} !* новый стиль *!*/

.toast_show {
  margin: 0 auto;
  opacity: 1 ;
  position: absolute;
  /*z-index:9999;*/

  /*z-index:99999999;*/
  /*display: inherit !important;*/
  /*visibility: visible;*/
  background-color: #4ECDC4 !important;
  /*z-index:99999999;*/
}

.toast__close {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
  appearance: button;
  margin: 0;
  font-family: initial;
  border-radius: 0;
  /*z-index:99999999;*/
}

input:not([type="checkbox"]) {
  display: block;
  font-size: 1rem;
  margin-bottom: .5rem;
}